main {
  font-family: sans-serif;
  margin: 10px;
  padding: 10px;
  z-index: inherit -1;
}

body {
  font-family: sans-serif;
}

.container-fluid {
  padding: 0px;
  padding-left: 0px;
}

h1,
h2,
h3 {
  color: #f0582a;
}

button {
  margin: 5px;
}

button-del {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

ul.unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav button {
  margin-top: 13px;
}
