.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
*.jpg
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
*.pickle
resources/__pycache__/*
database/__pycache__/*
resources/dataset/*
attendance.pem
key.pem
