[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask-mongoengine = "*"
geopy = "*"
boto3 = "*"
elastic-apm = {extras = ["flask"],version = "*"}
psutil = "*"
flask-restful-swagger = "*"
kafka-python = "*"
Flask = "*"
Flask-RESTful = "*"
numpy = "*"
imutils = "*"
opencv-python = "*"
sklearn = "*"

[requires]
python_version = "3.5"
