[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
elastic-apm = {extras = ["flask"],version = "5.8.1"}
flask = "1.1.2"
flask-restful = "0.3.8"
flask-restful-swagger = "0.20.2"
imutils = "0.5.4"
numpy = "1.16.6"
opencv-python = "4.2.0.32"
psutil = "5.7.2"
sklearn = "0.0"

[requires]
python_version = "2.7"
